* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30px;
}

header {
  text-align: center;
  margin-top: 10px;
  width: 1140px;
}

/* .note {
  display: flex;
} */

.hidden {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  z-index: 9;
}

.popup-content {
  display: none;
  position: fixed;
  left: 33%;
  top: 35%;
  width: 800px;
  min-height: 100px;
  margin-top: -75px;
  margin-left: -150px;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  z-index: 10;
  overflow: auto;
  overflow-wrap: break-word;
  line-height: 225%;
  padding: 20px;
}

.close {
  color: #aaaaaa;
  float: left;
  font-weight: bold;
  font-size: 28px;
  margin: 0 0 20px 20px;
}

.close:hover,
.close:focus {
  color: #555;
  cursor: pointer;
}

.clearFix {
  content: "";
  display: table;
  clear: both;
}
